.home-container {
    width: 100%;
    height: 100%;
}

.announcements-container {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.jobcard-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 10px;

    width: 100%;
}

