.jobdescription-container {
    width: 100%;
    height: 100%;
}

.description-container {
    background-color: #EEEEEE;
    padding: 16px 32px;
}

.description-card-container {
    background-color: #00988D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.job-label {
    color: white;
    opacity: 0.6;
    font-weight: 400;
}

.job-value {
    color: white;
}
