.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 64px;
    width: 100%;

    background: linear-gradient(rgba(0, 152, 141, 0.68), rgba(0, 152, 141, 0.68)),
    url("/assets/login-register-background.jpg");
    background-size: cover;
}

/* Phone */
@media screen and (max-width: 600px) {
    .register-container {
        height: 100%;
    }
}
